@import 'variables';
@import 'loading-spinner';
@import 'volume-slider';
@import 'seek-preview';

.stroeer-videoplayer video {
    border-radius: 5px;
}
.stroeer-videoplayer .stroeer-videoplayer-ui {
    top: 0;
}
.stroeer-videoplayer .stroeer-videoplayer-ui .default {
	position: relative;
	z-index: 200;
	height: 100%;
	overflow: hidden;
	font-family: Roboto, Arial, Helvetica, sans-serif;
        .hidden {
	    display: none !important;
        }
        .video-overlay {
	    background: rgba(0,0,0,0.4);
	    position: absolute;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    text-align: center;
            svg {
		fill: #fff;
	        display: block;
	        vertical-align: middle;
	        width: 10%;
	        cursor: pointer;
		margin: auto;
            }
        }
	.controlbar-container {
		bottom: 0;
		padding-bottom: 5px;
		height: 40px;
		transition: all ease-in 0.2s;
		position: absolute;
		z-index: 300;
		width: 100%;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 100%);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.controlbar {
		margin: 0 auto;
		position: relative;
		width: 95%;
		.timeline {
			transition: all ease-in 0.2s;
			display: block;
			height: 2px;
			background-color: rgba(255, 255, 255, .5);
			.elapsed {
				background-color: $primaryColor1;
				width: 0;
				height: 100%;
				user-select: none;
			}
			&:hover {
				height: 8px;
				margin-top: -6px;
				.elapsed-bubble {
					top: -5px;
					margin-left: -5px;
					width: 17px;
					height: 17px;
				}
			}
			.elapsed-bubble {
				transition: height ease-in 0.2s, width ease-in 0.2s, top ease-in 0.2s, margin-left ease-in 0.2s;
				position: absolute;
				width: 9px;
				height: 9px;
				background-color: $primaryColor1;
				top: -4px;
				border-radius: 50%;
			}
		}
                .time {
	            position: absolute;
	            left: 96px;
	            bottom: 4px;
	            color: #fff;
	            font-size: 12px;
		    font-family: Roboto, Arial, Helvetica, sans-serif;
                    >div {
	                display: inline-block;
	                margin: 0 2px;
                    }
                }
                .buttons {
			display: block;
			height: 32px;
			button {
				border: 0 none;
				margin: 4px 0;
				padding: 4px 8px;
				background-color: transparent;
				&:hover {
					background-color: rgba(255, 255 , 255, .5);
				}
				&.hidden {
					display: none;
				}
				svg {
					fill: #fff;
					height: 24px;
					width: 24px;
				}
			}
                        .enterFullscreen,
			.exitFullscreen {
	                    position: absolute;
	                    right: 0;
                        }
		}
	}
	@media screen and (max-width: 360px) {
	    .volSliderBox {
		width: 80px;
		left: 110px;
	    }
	}
	@media screen and (max-width: 340px) {
	    .volSliderBox {
		width: 60px;
		left: 100px;
	    }
	}
}
