.stroeer-videoplayer .stroeer-videoplayer-ui .default {
	position: relative;
	z-index: 200;
	height: 100%;
	overflow: hidden;
        font-family: Arial, Helvetica, Sans;
	.controlbar {
		&:hover {
			bottom: 0;
			.timeline {
				height: 16px;
			}
		}
		bottom: -56px;
		height: 64px;
		transition: all ease-in 0.2s;
		position: absolute;
		z-index: 300;
		width: 100%;
		.timeline {
			display: block;
			height: 8px;
			background-color: rgba(255, 255, 255, .5);
			.elapsed {
				background-color: rgb(255, 255, 255);
				width: 0;
				height: 100%;
				user-select: none;
			}
		}
                .settingsmenu {
	            position: absolute;
	            right: 0;
	            bottom: 48px;
	            background: rgba(0,0,0,0.5);
                    color: #fff;
		    &.hidden {
			display: none;
		    }
                    .speedbox {
                        font-weight: bold;
                        font-size: 16px;
                        padding:5px;
                        i {
                            font-size:14px;
                            font-weight: normal;
                            display: inline-block;
                            width: 30px;
                            height:20px;
                            cursor: pointer;
                            text-align: center;
                            background: rgba(0,0,0,0.5);
                            border-radius: 3px;
	                    margin: 5px;
                            line-height: 20px;
                            font-style: normal;
                            &.selected {
	                        background: #e20074;
	                        color: #fff;
                                cursor: default;
                            }
                        }
                    }
                    h2 {
                        font-size: 16px;
                        font-weight: bold;
                        padding:5px;
                        margin: 0;
                        display: inline-block;
                    }
                    button {
	                display: inline-block;
	                border: 0;
	                background: rgba(0,0,0,0.5);
	                color: #fff;
	                line-height: 20px;
	                margin: 5px;
                        border-radius: 3px;
                        cursor: pointer;
                        &.selected {
	                    background: #e20074;
	                    color: #fff;
                            cursor: default;
                        }
                    }                    
                }
                .buttons {
			display: block;
			height: 48px;
			background-color: rgba(0, 0 , 0, .5);
			button {
				margin: 2px;
				border: 1px solid #000;
				border-radius: 5px;
				background-color: transparent;
				&:hover {
					background-color: rgba(255, 255 , 255, .5);
				}
				&.hidden {
					display: none;
				}
				padding: 8px;
				height: 44px;
				width: 44px;
				svg {
					fill: #fff;
					height: 28px;
					width: 28px;
				}
			}
                        .settings,.enterFullscreen,.exitFullscreen {
	                    position: absolute;
	                    right: 50px;
                        }
                        .settings {
	                    right: 0;
                        }
		}
	}
}
