.stroeer-videoplayer .stroeer-videoplayer-ui .default {
	position: relative;
	z-index: 200;
	height: 100%;
	overflow: hidden;
	.controlbar {
		&:hover {
			bottom: 0;
			.timeline {
				height: 16px;
			}
		}
		bottom: -56px;
		height: 64px;
		transition: all ease-in 0.2s;
		position: absolute;
		z-index: 300;
		width: 100%;
		.timeline {
			display: block;
			height: 8px;
			background-color: rgba(255, 255, 255, .5);
			.elapsed {
				background-color: rgb(255, 255, 255);
				width: 0;
				height: 100%;
				user-select: none;
			}
		}
                .settingsmenu {
	            position: absolute;
	            right: 0;
	            bottom: 48px;
	            background: rgba(0,0,0,0.5);
		    &.hidden {
			display: none;
		    }
                    button {
	                display: block;
	                border: 0;
	                background: rgba(0,0,0,0.5);
	                color: #fff;
	                line-height: 20px;
	                margin: 5px;
                        float:right;
                        clear:both;
                    }
                }
                .buttons {
			display: block;
			height: 48px;
			background-color: rgba(0, 0 , 0, .5);
			button {
				margin: 2px;
				border: 1px solid #000;
				border-radius: 5px;
				background-color: transparent;
				&:hover {
					background-color: rgba(255, 255 , 255, .5);
				}
				&.hidden {
					display: none;
				}
				padding: 8px;
				height: 44px;
				width: 44px;
				svg {
					fill: #fff;
					height: 28px;
					width: 28px;
				}
			}
                        .settings {
	                    position: absolute;
	                    right: 0;
                        }
		}
	}
}
